In [2]:
[2, 3, 4] + [1]

[2, 3, 4, 1]

In [3]:
[[1, 2, 3]]

[[1, 2, 3]]

In [22]:
A = [[1, 2, 3],
 [3, 4, 5],
    [6, 7, 8],
    [9, 10, 11]]

In [23]:
import numpy as np
A = np.array(A)

In [24]:
A.shape

(4, 3)

In [29]:
b = [5, 5, 5]

In [30]:
b = np.array(b)
b.shape

(3,)

In [32]:
A.dot(b)

array([ 30,  60, 105, 150])

In [33]:
A*b

array([[ 5, 10, 15],
       [15, 20, 25],
       [30, 35, 40],
       [45, 50, 55]])

In [35]:
import pandas as pd
A = pd.DataFrame(A)

In [36]:
A

   0   1   2
0  1   2   3
1  3   4   5
2  6   7   8
3  9  10  11

In [37]:
A.index

RangeIndex(start=0, stop=4, step=1)

In [38]:
for i, topic in enumerate(A.index):    
    print(i, topic)

0 0
1 1
2 2
3 3