In [1]:
import pandas as pd

In [51]:
with open("water.txt") as infile, open("water_comma.txt", 'w') as outfile:
#         outfile.write(line.replace("/t", ','))
    stripped = (line.strip() for line in infile)
    firstline = True
    for line in stripped:
        if line:
            if firstline:
                outfile.write(",".join(l) + '\n')
                firstline = False
            l = line.split(' ')
            if type(l[2]) is str:
                l[1] = l[1] + l[2]
                del l[2]
                if type(l[3]) is str:
                    l[1] = l[1] + l[3]
                    del l[2:3]
        outfile.write(",".join(l) + '\n')

IndexError: list index out of range

In [2]:
data = pd.read_csv('water_comma.txt')

In [3]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [35]:
data['mortality'].mean()

1524.1475409836066

In [44]:
data['mortality'][data['location'] == 'South'].mean()

1376.8076923076924

In [45]:
data['mortality'][data['location'] == 'North'].mean()

1633.6

Построим 95% доверительный интервал для средней смертности вида $$\bar{X}_n \pm t_{1-\frac{\alpha}{2}} \frac{S}{\sqrt{n}}$$

In [41]:
from statsmodels.stats.weightstats import _tconfint_generic
import numpy as np
l = np.sqrt(data.shape[0])
print("mean 95% confidence interval of mortality", _tconfint_generic(data['mortality'].mean(), data['mortality'].std(ddof = 1)/l,
                                                        len(data['mortality']) - 1,
                                                         0.05, 'two-sided'))

mean 95% confidence interval of mortality (1476.0833413552848, 1572.2117406119285)

In [46]:
print("mean 95% confidence interval of mortality (south cities)",
      _tconfint_generic(data['mortality'][data['location'] == 'South'].mean(),
                        data['mortality'].std(ddof = 1)/l,
                        len(data['mortality']) - 1,0.05, 'two-sided'))
print("mean 95% confidence interval of mortality (north cities)",
      _tconfint_generic(data['mortality'][data['location'] == 'North'].mean(),
                        data['mortality'].std(ddof = 1)/l,
                        len(data['mortality']) - 1,0.05, 'two-sided'))

mean 95% confidence interval of mortality (south cities) (1328.7434926793705, 1424.8718919360142)
mean 95% confidence interval of mortality (north cities) (1585.535800371678, 1681.6641996283217)

In [43]:
print("mean 95% confidence interval of hardness (south cities)",
      _tconfint_generic(data['hardness'][data['location'] == 'South'].mean(),
                        data['hardness'].std(ddof = 1)/l,
                        len(data['hardness']) - 1,0.05, 'two-sided'))
print("mean 95% confidence interval of hardness (north cities)",
      _tconfint_generic(data['hardness'][data['location'] == 'North'].mean(),
                        data['hardness'].std(ddof = 1)/l,
                        len(data['mortality']) - 1,0.05, 'two-sided'))

mean 95% confidence interval of hardness (south cities) (60.01291297245754, 79.525548566004)
mean 95% confidence interval of hardness (north cities) (20.643682203226767, 40.15631779677323)

При σ=1 какой нужен объём выборки, чтобы на уровне доверия 95% оценить среднее с точностью ±0.1?

In [2]:
from scipy import stats
import numpy as np
np.ceil((stats.norm.ppf(1-0.05/2) / 0.1)**2)

385.0

In [3]:
stats.norm.ppf(1 - 0.003/2)

2.9677379253417944

In [4]:
104/11037 - 189/11034

-0.0077060239760047815